@font-face {
	font-family: Helvetica2;
	src: url('../HelveticaNowDisplay-Hairline.ttf');
  }
nav {
	display: flex;
    position: sticky;
	align-items: center;
	justify-content: space-between;
	background-color: #333;
	color: #000;
	height: 10em;
	padding: 0 20px;
}

nav.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #c5ab7e;
	color: #000;
	height: 80px;
	padding: 0 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 999;
	
}
.logo:hover{
	background-color: #fff;
}

.logo{
	align-items: left;
}
.menu{
	color: #000;
}

@media only screen and (max-width: 700px) {

	#title{
		position:relative;
		margin-top: 10px;
		font-size: 2em;
		text-align: center;
		font-weight: bold;
		font-style: bold;
		font-family: Helvetica2;
	  }
nav.sticky {
	position: relative;
	height:auto;
	padding: 10px 20px;

}
    .mini{
		display: none;
		position: absolute;			
	}
	.carouselMini{
		display: none;
	}
	.textos{
		display:none;
	}
	.textoChico{
		display: flex;
		position:relative;
		padding-left: 5%;
		padding-top: 5%;
		padding-right: 5%;
		font-size: 130px;
		text-align: center;
		font-style: italic;
		
	}
	.btn-wsp{
		position:fixed;
		width:65px;
		height:65px;
		bottom:25px;
		left: 1em;
		z-index:100;
		
		}


}
.areas{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 2%;
	text-align: center;
}

@media only screen and (min-width: 700px) {

	#title{
		position:relative;
		margin-top: 1em;
		font-size: 50px;
		align-items: center;
		font-family: helvetica2;
		font-weight: bold;
		text-align: center;

	  }
	.carouselGrande{
		display: none;
	}
	.textos{
		position:relative;
		margin-left: 3em;
		font-size: 50px;
		padding-right: 2em;
		text-align: center;
		font-style: italic;
	}
	.textoChico{
		display:none;

	}
	.btn-wsp{
		position:flex;
		display: block;
		width:65px;
		height:65px;
		bottom:25px;
		left: 1em;
		z-index:100;
		margin-bottom: 30px;
		}
}

