<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estudio Juridico Carracedo</title>
    <link rel="stylesheet" href="css/estilo.css"> 
	<link rel="stylesheet" href="css/estiloContacto.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="img/favicon.jpg">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
	<script src="js/funciones.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="navbar">
		
        <nav class="navbar navbar-expand-xl navbar-dark sticky">
			<a class="navbar-brand logo" href="#">
				<img src="img/logoF.jpg"  width="170" height="80" alt="logo" loading="lazy">
			</a>
            <button class="navbar-toggler" style="margin-left:auto;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>

			<div class="collapse navbar-collapse font-weight-bold"  id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto" style="margin-left:auto; align-items: center;">
                <li class="nav-item active">
                    <a class="nav-link" style= "color: black;" href="#"><u>HOME</u></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style= "color: black; "href="#despidos">DESPIDOS</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" style= "color: black;" href="#laboral">ACCIDENTES LABORALES</a>
                </li> 
				<li class="nav-item">
                    <a class="nav-link" style= "color: black;" href="#accidente">ACCIDENTES DE TRANSITO</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" style= "color: black;" href="#divorcios">DIVORCIOS</a>
                </li> 
				<li class="nav-item">
                    <a class="nav-link" style= "color: black;" href="#alimentos">ALIMENTOS</a>
                </li> 
				<li class="nav-item">
                    <a class="nav-link" style= "color: black;" href="#sucesiones">SUCESIONES</a>
                </li> 
				<li class="nav-item">
                    <a class="nav-link" style= "color: black;" href="#contacto">CONTACTO</a>
                </li> 
				<a class="nav-item" href="https://www.instagram.com/estudiojuridicocarracedo/" target="_blank">
					<img src="img/instagram.png"  width="30" height="30" alt="ig" loading="lazy">
            </ul>


        </div>
        </nav>
    </div>
	<div><!-- Carousel -->

		<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="3900">
					<a class= "carouselMini"  href="#contacto"><img src="img/4.jpg" class="d-block w-100" alt="..."></a>
					<a class = "carouselGrande" href="#contacto"><img src="img/1.jpg" class="d-block w-100" alt="..."></a>
					<div class="carousel-caption d-none d-md-block">
					</div>
			  	</div>
				<div class="carousel-item" data-bs-interval="4000">
					<a class= "carouselMini"  href="#contacto"><img src="img/5.jpg" class="d-block w-100" alt="..."></a>
					<a class = "carouselGrande" href="#contacto"><img src="img/2.jpg" class="d-block w-100" alt="..."></a>
					<div class="carousel-caption d-none d-md-block">
					</div>
			  	</div>
			  	<div class="carousel-item" data-bs-interval="4000">
					<a class= "carouselMini"  href="#contacto"><img src="img/6.jpg" class="d-block w-100" alt="..."></a>
					<a class = "carouselGrande" href="#contacto"><img src="img/3.jpg" class="d-block w-100" alt="..."></a>
					<div class="carousel-caption d-none d-md-block">
					</div>
			  	</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
	</div>
	<div id="info"><!-- info -->
		<a href="https://wa.me/message/FBPBMY76C2HQI1" class="btn-wsp" target="_blank">
			<img class="img-fluid wsp" src="https://lirp.cdn-website.com/edead8f2/dms3rep/multi/opt/whatsapp_icon-960w.png" alt="">
		</a>
		
		<div class="font-weight-bold" id="title">Estudio Jurídico Carracedo</div>
		<div class= "textos" id="derecho">
			<h3>Trabajo de manera transparente. Cada cliente es importante, por eso analizo cada situación en particular, buscando el resultado que esperan.</h3>			
		</div>
		<div class= "textoChico">
			<h3>Trabajo de manera transparente. Cada cliente es importante, por eso analizo cada situación en particular, buscando el resultado que esperan.</h3>			
		</div>
		
		<div class="font-weight-bold" id="title" id="areas">Áreas de Práctica</div>
		<p> </p>

	</div>
	<div class="areas" ><!-- areas de practica -->
		<div class="card-deck">
			<div class="card">
			  <img class="card-img-top" id="despidos" src="img/Despido.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Despidos</h5>
				<p class="card-text">
					Asesórate gratuitamente. <br>
					-Despidos con causa / Despidos incausados <br>
					¿No te abonan las horas extras, vacaciones y/o aguinaldo? <br>
					¿Sufris maltrato laboral? ¿Estas en negro?  <br>
					<b> NO RENUNCIES.</p> </b>
			  </div>
			</div>
			<div class="card">
			  <img class="card-img-top" id="laboral" src="img/accidentes.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Accidentes Laborales</h5>
				<p class="card-text">Si sufriste un accidente en horario laboral, camino al trabajo o viceversa, tenes derecho a reclamar una indemnización a la Aseguradora de Riesgos del Trabajo. </p>
			  </div>
			</div>
			<div class="card">
			  <img class="card-img-top" id="accidente" src="img/transito.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Accidentes de Tránsito</h5>
				<p class="card-text">Sufriste un accidente como peaton o a bordo de tu automóvil, bicicleta y/o motocicleta, tenes derecho a reclamar una indemnización tanto por daños físicos como materiales. </p>
			  </div>
			</div>
		  </div>
	</div>	
	<div class="areas">
		<div class="card-deck">
			<div class="card">
			  <img class="card-img-top" id="divorcios" src="img/divorcios.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Divorcios</h5>
				<p class="card-text">Pueden iniciarlo de manera conjunta o unilateral. ¿Que derechos tengo? <br> Brindo asesoramiento sobre todas las cuestiones que surgen a raíz del divorcio.</p>
			  </div>
			</div>
			<div class="card">
			  <img class="card-img-top" id="alimentos" src="img/alimentos.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Alimentos</h5>
				<p class="card-text">Acompaño a las partes para lograr el acuerdo más justo por alimentos, régimen de comunicación  y cuidado personal. 
					Es el derecho de los niños para su desarrollo y bienestar </p>
			  </div>
			</div>
			<div class="card">
			  <img class="card-img-top" id="sucesiones" src="img/sucesion.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Sucesiones</h5>
				<p class="card-text">Pueden ser testamentarias e intestadas
					¿Que documentación necesito?
					Brindo asesoramiento a cada uno de los herederos para que evacuen  las dudas.</p>
			  </div>
			</div>
		  </div>
	</div>
	<div>
		<hr class="ahr"> 

		<img src="img/manoss.jpg" class="img-fluid" style="width: 100%; padding-bottom: 1em;" alt="...">	</div>

		<div id="contacto">
			<hr class="ahr"> 
			<div class="contact2" >
				<div>
					<h4>Contactanos</h4>
					<hr class="hrC" width="20%" align="left">
					<p><b>Ubicación</b></p>
					<p>Ciudad Autónoma de Buenos Aires</p>
					<p><b>Celular</b></p>
					<p>1136332413</p>
					<p><b>Email</b></p>
					<p>Carracedoestudiojuridico@gmail.com</p>
					<p><b>Horario de Atención</b></p>
					<p>Lunes a Viernes de 9hs a 18hs</p> 
					<hr class="hrC" width="20%" align="left">
	 
				</div>
				<div id="app">
					<p style="text-align: center;"><b>Completá el formulario y te responderemos a la brevedad.</b></p>
					<div class="form">
						<div id="inputs">
							<input type="text" id="name" class="item5" v-model="from_name" placeholder="Nombre*" require ><br>
							<div id="name"></div>
							<input type="email" id="email" class="item5" v-model="from_email" placeholder="Email*" require><br>
							<div id="mail"></div>
							<div id="mail2"></div>
							<input type="text" class="item5" v-model="from_telefono" placeholder="Teléfono"><br>
							<textarea name="consulta" class="item5" v-model="message" placeholder="Consulta" rows="5" style="resize: both"></textarea><br>
							<div id="loader2"></div>
							<button class="btn btn-dark" style="background-color:#c5ab7e" @click="enviar()">Enviar</button>
							<div id="enviado"></div>
						</div>
					</div>
				</div>
				
			</div>
			<hr class="ahr"> 

			<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 20px;">
				<div class="container-sm" style="color:grey; justify-content: center; font-size: small;">
					<p>Desarrollado por <a class="navbar-brand"style="color:grey; font-size: small;" href="https://compudiego.com.ar/"target="_blank">CompuDiego</a></p>
				  
				</div>
			  </nav>

</body>
<script>
    (function(){
        emailjs.init("bj1e5tc34GbLvsCW3");
     })();
     document.getElementById('loader2').innerHTML = " ";
     document.getElementById('enviado').innerHTML = " ";
     document.getElementById('name').innerHTML = " ";
     document.getElementById('mail').innerHTML = " ";
     document.getElementById('mail2').innerHTML = " ";

        const vue = new Vue({
            el: '#app',
            data(){
                return {
                    from_name: '',
                    from_email: '',
                    from_telefono: '',
                    message: ''
                }
            },
            methods: {

                enviar(){

                    let data = {
                        from_name: this.from_name,
                        from_email: this.from_email,
                        from_telefono: this.from_telefono,
                        message: this.message,
                    };
                    
                    expresion = /\w+@+\w+\.+[a-z]/;

                    if(data.from_email === "" || data.from_name === "" ){
                        enviado.innerHTML = "<div>Los campos * son obligatorios</div>"
                    }
                    else if(!expresion.test(data.from_email)){
                        enviado.innerHTML = "<div>Email incorrecto</div>"
                    }
                    else{
                        loader2.innerHTML = "<div class='loader'></div>";

                        emailjs.send("service_a64hjlh","template_6q3q95e", data)
                        .then(function(response) {
                            loader2.innerHTML = "<div class='loader' style='display:none;'></div>";

                            if(response.text === 'OK'){
                                enviado.innerHTML = "<div>Mensaje Enviado</div>"
                            }
                        console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
                        }, function(err) {
                            enviado.innerHTML = "<div>Mensaje NO Enviado</div>"
                        console.log("FAILED. error=", err);
                        }); 
                    }
                }
            }
        });
    
</script>
</html>
